:root {
    /* Defined Colors */
    --opq-red: rgb(202, 30, 76);
}

/*-_-_-_-_-_-_-_-_-_-_ NAVBAR -_-_-_-_-_-_-_-_-_-_*/
#NAVBAR {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #000;
    position: sticky;
    overflow-y: auto;
    flex: 0 0 300px;
    z-index: 1;
    top: 0;
    padding: 64px 28px;
}
.topic {
    text-align: center;
    padding-bottom: 4px;
    margin: 32px 0px 8px 0px;
    border-bottom: 2px ridge #fff;
}
/*. . . . . . . . . . HEADER */
header div {
    font-family: 'agdasima', sans-serif;
    font-weight: 400;
    flex-direction: row;
    justify-content: space-between;
}
.heading {
    font-size: 4rem;
    align-items: center;
}
.heading img {
    width: 53px;
    height: 53px;
    border-radius: 100%;
}
.subheading {
    border-bottom: 4px double #fff;
    padding-bottom: 8px;
    margin-bottom: 16px;
    font-size: 2.3rem;
}
#MENU {
    display: none;
    width: 100px;
    aspect-ratio: 1 / 1;
    background-color: #cc0033;
}
/*. . . . . . . . . . CONTENTS */
#CONTENTS {
    height: 100%;
    justify-content: space-between;
}
.tab, footer a {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 8px;
    transition: .3s ease-out;
    padding: 4px 8px;
}
.tab:hover, #COOL:hover {
    color: #fff;
    background-color: #7070ff;
    box-shadow: 45px 0px 40px #70adad inset;
    text-shadow: 2px 2px 4px #303030;
    scale: 1.05;
}
.tab.active, #COOL.active {
    background-color: #cc0052;
    box-shadow: 45px 0px 40px #ff8820 inset;
    text-shadow: 2px 2px 4px #303030;
    scale: 1.05;
}
/*. . . . . . . . . . I LOVE THE VIEW */
#COOL {
    font-weight: 700;
    border: .5rem ridge #fff;
    border-radius: 2rem;
    transition: .5s ease-out;
}
/*. . . . . . . . . . FOOTER */
footer a:hover {
    color: #fff;
    background-color: #405DE6;
    box-shadow: 45px 0px 40px #833AB4 inset;
    text-shadow: 2px 2px 4px #303030;
    scale: 1.05;
}


/*-_-_-_-_-_-_-_-_-_-_ MAIN CONTENT     -_-_-_-_-_-_-_-_-_-_*/
.tab-content {
    display: none;
    height: 100%;
    color: #fff;
    padding: 8em 0;
}
.title {
    display: inline-block;
    position: relative;
    transform: skewX(-40deg);
    left: -15rem;
    background-color: #cc0033;
    box-shadow: 100px 0px 40px #ff8820 inset;
    border-right: 32px double #ff8820;
    border-bottom: 4px solid #ff8820;
    margin-bottom: 16px;
}
.title h1 {
    transform: skewX(40deg);
    margin: 8px 64px 8px 250px;
}
.paragraph {
    margin: 0 6%;
    padding: 1em;
    text-indent: 2em;
    border-radius: 8px;
    border: 2px double #fff;
    background-color: rgba(0, 0 ,0 ,0.6);
    font-size: 2.5rem;
}
.paragraph p {
    margin: 2rem 0;
}
/*. . . . . . . . . . ARRIVAL PAGE . . . . . . . . . .*/
#ARRIVAL {
    background: #fff url('../assets/pictures/CoastingSunset.png') no-repeat fixed center center / cover;
}
#ARRIVAL .images {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    margin: 2rem 6%;
}
.images img {
    height: auto;
    width: auto;
}
/*. . . . . . . . . . CREDIT PAGE . . . . . . . . . .*/
#CREDITS {
    background: #fff url('../assets/pictures/luv-it.png') no-repeat fixed center center / cover;
}
/* work in progress */
#TRIANGLESQ {
    padding: 0;
}
#TRIANGLESQ div {
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* This is styling connected to asset-setups definitions */
.topic .icon {
    margin: 0px 8px;
}
.tab .icon, .icon-instagram, .icon-github {
    margin-right: 8px;
}

/* MOBILE PHONE MODE */
@media screen and (orientation: portrait) {
    body {
        flex-direction: column;
    }

    #NAVBAR {
        flex-direction: row;
        justify-content: space-between;
        flex: 0 0 100%;
        font-size: 2em;
        padding: 32px;
        border-right: none;
        border-bottom: 4px double #9c2010;
    }
    #MENU {
        display: flex;
    }
    .heading img {
        width: 55px;
        height: 55px;
    }
    .subheading {
        margin-bottom: 0;
    }

    #CONTENTS {
        display: none;
    }
}