/* FONT SETUP - agdasima-400 - latin */
@font-face {
  font-display: swap;
  font-family: 'agdasima';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/agdasima-v5-latin-regular.woff2') format('woff2');
}
/* FONT SETUP - agdasima-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'agdasima';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/agdasima-v5-latin-700.woff2') format('woff2');
}
/* FONT SETUP - pt-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/pt-sans-v17-latin-regular.woff2') format('woff2');
}
/* FONT SETUP - pt-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/pt-sans-v17-latin-700.woff2') format('woff2');
}

:root {
    /* Defined Colors */
    --opq-red: rgb(250, 44, 99);
}
* {
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
    text-align: justify;
}
body {
    display: flex;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: medium;
}
header, div {
    display: flex;
    flex-direction: column;
}
button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
}
a {
    display: block;
    text-decoration: none;
}
main {
    width: 100%;
}

/*-_-_-_-_-_-_-_-_-_-_ NAVBAR -_-_-_-_-_-_-_-_-_-_*/
#NAVBAR {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #000;
    border-right: 4px double #9c2010;
    box-shadow: 4px 0 8px 0 #d3513a;
    position: sticky;
    overflow-y: auto;
    flex: 0 0 350px;
    z-index: 1;
    top: 0;
    padding: 64px 28px;

}
.topic {
    text-align: center;
    padding-bottom: 4px;
    margin: 32px 0px 8px 0px;
    border-bottom: 2px ridge #fff;
}
.topic .fa-solid {
    margin: 0px 16px;
}
.fa-solid, .fa-regular {
    margin-right: 8px;
}
.fa-brands {
    font-size: 1.5em;
    margin-right: 8px;
}
/*. . . . . . . . . . HEADER */
header div {
    font-family: 'Major Mono Display', monospace;
    flex-direction: row;
    justify-content: space-between;
}
.heading {
    margin-bottom: 8px;
}
.heading img {
    width: 35px;
    height: 35px;
}
.subheading {
    border-bottom: 4px double #fff;
    padding-bottom: 8px;
    margin-bottom: 16px;
}
#MENU {
    display: none;
    width: 100px;
    aspect-ratio: 1 / 1;
    background-color: #cc0033;
}
/*. . . . . . . . . . CONTENTS */
#CONTENTS {
    height: 100%;
    justify-content: space-between;
}
.tab, .project_tab, footer a{
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 8px;
    transition: .3s ease-out;
    padding: 4px 8px;
}
.tab:hover, .project_tab:hover {
    color: #fff;
    background-color: #7070ff;
    box-shadow: 45px 0px 40px #70adad inset;
    text-shadow: 2px 2px 4px #303030;
    scale: 1.05;
}
.tab.active, .project_tab.active {
    background-color: #cc0052;
    box-shadow: 45px 0px 40px #ff8820 inset;
    text-shadow: 2px 2px 4px #303030;
    scale: 1.05;
}
/*. . . . . . . . . . FOOTER */
footer a:hover {
    color: #fff;
    background-color: #405DE6;
    box-shadow: 45px 0px 40px #833AB4 inset;
    text-shadow: 2px 2px 4px #303030;
    scale: 1.05;
}


/*-_-_-_-_-_-_-_-_-_-_ MAIN CONTENT     -_-_-_-_-_-_-_-_-_-_*/
.tab-content {
    display: none;
    height: 100%;
    color: #fff;
    padding: 8em 0;
}
.title {
    display: inline-block;
    position: relative;
    transform: skewX(-40deg);
    left: -6%;
    background-color: #cc0033;
    box-shadow: 100px 0px 40px #ff8820 inset;
    border-right: 32px double #ff8820;
    border-bottom: 4px solid #ff8820;
    margin-bottom: 16px;
}
.title h1 {
    transform: skewX(40deg);
    margin: 8px 64px 8px 250px;
}
/*. . . . . . . . . . ARRIVAL PAGE */
#ARRIVAL {
    background: #fff url('../assets/pictures/CoastingSunset.png') no-repeat fixed center center / cover;
}
.paragraph {
    margin: 0 4%;
    padding: 1em;
    text-indent: 2em;
    border-radius: 8px;
    border: 2px double #fff;
    background-color: rgba(0, 0 ,0 ,0.2);
}

/* work in progress */
#MINESWEEPER, #CREDITS, #CIPHER {
    padding: 0;
}
#MINESWEEPER div, #CREDITS div, #CIPHER div {
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MOBILE PHONE MODE */
@media screen and (orientation: portrait) {
    body {
        flex-direction: column;
    }

    #NAVBAR {
        flex-direction: row;
        justify-content: space-between;
        flex: 0 0 100%;
        font-size: 2em;
        padding: 32px;
        border-right: none;
        border-bottom: 4px double #9c2010;
    }
    #MENU {
        display: flex;
    }
    .heading img {
        width: 55px;
        height: 55px;
    }
    .subheading {
        margin-bottom: 0;
    }

    #CONTENTS {
        display: none;
    }
}