:root {
    /* Colors of elements */
    --NAVBAR-texts: #fff;
    --NAVBAR-bgcolor: #000;
    --text-shadows: #303030;
    --tab-hover-background: #7070ff;
    --tab-hover-gradient: #70adad;
    --active-background: #cc0052;
    --active-gradient: #ff8820;
    --footer-hover-background: #405DE6;
    --footer-hover-gradient: #833AB4;
    --tab-content-texts: #fff;
    --paragraph-transparent-bg: rgba(0, 0 ,0 ,0.6);
}

/*-_-_-_-_-_-_-_-_-_-_ NAVBAR -_-_-_-_-_-_-_-_-_-_*/
#NAVBAR {
    display: flex;
    flex-direction: column;
    color: var(--NAVBAR-texts);
    background-color: var(--NAVBAR-bgcolor);
    position: sticky;
    overflow-y: auto;
    flex: 0 0 300px;
    z-index: 1;
    top: 0;
    padding: 64px 28px;
}
.topic {
    text-align: center;
    padding-bottom: 4px;
    margin: 32px 0px 8px 0px;
    border-bottom: 2px ridge var(--NAVBAR-texts);
}
/*. . . . . . . . . . HEADER */
header div {
    font-family: 'agdasima', sans-serif;
    font-weight: 400;
    flex-direction: row;
    justify-content: space-between;
}
.heading {
    font-size: 4rem;
    align-items: center;
}
.heading img {
    width: 53px;
    height: 53px;
    border-radius: 100%;
}
.subheading {
    border-bottom: 4px double var(--NAVBAR-texts);
    padding-bottom: 8px;
    margin-bottom: 16px;
    font-size: 2.3rem;
}
/*. . . . . . . . . . CONTENTS */
#CONTENTS {
    height: 100%;
    justify-content: space-between;
}
.tab, footer a {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 8px;
    transition: .3s ease-out;
    padding: 4px 8px;
}
.tab:hover, #COOL:hover, #TRI-CALCULATE {
    background-color: var(--tab-hover-background);
    box-shadow: 45px 0px 40px var(--tab-hover-gradient) inset;
    text-shadow: 2px 2px 4px var(--text-shadows);
    scale: 1.05;
}
.active, #TRI-CALCULATE:hover {
    background-color: var(--active-background);
    box-shadow: 45px 0px 40px var(--active-gradient) inset;
    text-shadow: 2px 2px 4px var(--text-shadows);
    scale: 1.05;
}
/*. . . . . . . . . . I LOVE THE VIEW */
#COOL {
    font-weight: 700;
    border: .5rem ridge var(--NAVBAR-texts);
    border-radius: 2rem;
    transition: .5s ease-out;
}
/*. . . . . . . . . . FOOTER */
footer a:hover {
    background-color: var(--footer-hover-background);
    box-shadow: 45px 0px 40px var(--footer-hover-gradient) inset;
    text-shadow: 2px 2px 4px var(--text-shadows);
    scale: 1.05;
}


/*-_-_-_-_-_-_-_-_-_-_ MAIN CONTENT     -_-_-_-_-_-_-_-_-_-_*/
.tab-content {
    display: none;
    height: 100%;
    color: var(--tab-content-texts);
    padding: 8em 0;
}
.title {
    display: inline-block;
    position: relative;
    transform: skewX(-40deg);
    left: -15rem;
    background-color: var(--active-background);
    box-shadow: 100px 0px 40px var(--active-gradient) inset;
    border-right: 32px double var(--active-gradient);
    border-bottom: 4px solid var(--active-gradient);
    margin-bottom: 16px;
}
.title h1 {
    transform: skewX(40deg);
    margin: 8px 64px 8px 250px;
}
.paragraph {
    margin: 0 6%;
    padding: 1em;
    text-indent: 2em;
    border-radius: 8px;
    border: 2px double var(--tab-content-texts);
    background-color: var(--paragraph-transparent-bg);
    font-size: 2.5rem;
}
.paragraph p {
    margin: 2rem 0;
}
/*. . . . . . . . . . ARRIVAL PAGE . . . . . . . . . .*/
#ARRIVAL {
    background: #fff url('../assets/pictures/CoastingSunset.png') no-repeat fixed center center / cover;
}
#ARRIVAL .images {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    margin: 2rem 6%;
}
.images img {
    height: auto;
    width: auto;
}
/*. . . . . . . . . . CREDIT PAGE . . . . . . . . . .*/
#CREDITS {
    background: #fff url('../assets/pictures/luv-it.png') no-repeat fixed center center / cover;
}
#UNBEATABLE {
    position: relative;
    padding: 0 8%;
    top: -5rem;
}
/* work in progress */
#TRIANGLESQ {
    background: #fff url('../assets/pictures/pic3.png') no-repeat fixed center center / cover;
}
input::placeholder {
    color: var(--active-background);
}
.inputs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--tab-content-texts);
    font-family: 'agdasima', sans-serif;
    font-size: 3rem;
}
.inputs-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--active-background);
    border-radius: 5rem;
    margin: 0.5rem;
    padding: 0.1rem;
}
#TRIANGLE-INPUT-BASE {
    background-color: var(--active-gradient);
}
#TRIANGLE-INPUT-HEIGHT {
    background-color: var(--active-gradient);
}
#TRI-CALCULATE {
    transition: .3s ease-out;
    border-radius: 2rem;
    margin: 0rem 3rem;
    padding: 1rem;
}
/* This is styling connected to asset-setups definitions */
.topic .icon {
    margin: 0px 8px;
}
.tab .icon, .icon-instagram, .icon-github {
    margin-right: 8px;
}

/* MOBILE PHONE MODE */
@media screen and (orientation: portrait) {
    body {
        flex-direction: column;
    }

    #NAVBAR {
        flex-direction: row;
        justify-content: space-between;
        flex: 0 0 100%;
        font-size: 2em;
        padding: 32px;
        border-right: none;
        border-bottom: 4px double #9c2010;
    }
    #MENU {
        display: flex;
    }
    .heading img {
        width: 55px;
        height: 55px;
    }
    .subheading {
        margin-bottom: 0;
    }

    #CONTENTS {
        display: none;
    }
}